<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTA Train Stop</title>
</head>
<meta charset="UTF-8">
    <title>MBTA Train Stop Finder</title>

<body background="https://static1.squarespace.com/static/57757a3cff7c50f318d8aae0/t/577682f99f745615c64d3325/1467384572000/train+set-kingston_3.jpg?format=1500w">


<br/>
<br/>
<div class="tag">
<div class="container" align="center">
    <div class="jumbotron">
    <div class="row">
    <div class="col-sm-12"> <p><h1>Location finder</h1></p>
        </div>
    <div class="col-sm-12">
<form method="POST" name="location finder">
    {% if error %}
    <p style='color:red'>This equation does not have real number solution.</p>
    {% endif %}
    <p>
        Please enter your location:
    </p>
    <p>
        <input type="text" size="20" name='location'>

    </p>
    <p>
        <input type="submit" value="Go">
    </p>
</form>
 </div>
 <div class="col-sm-12"><form method="POST" name="calculator">
</form>
    </div>
</div>
</div>
    </div>

</div>



</body>
</html>